:root {
  /* #5a89f6 */
  --blue: 222 90% 66%;

  /*  #77b4e7 */
  --light-blue: 207 70% 69%;

  /*  #a9419f */
  --pink: 306 44% 46%;


  --border-radius: .6rem;

  /*#3f4048*/
  --bg-color: 233 7% 26%;

  /* #27292f */
  --textarea-color: 225 9% 17%;

  /* #cbcbcb */
  --main-text-color: 0 0% 80%;

  /* #7e7e7e */
  --placeholder-color: 0 0% 49%;

  /* #50515b */
  --preview-color: 235 6% 34%;
}
